/* whole page starts here */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h6 {
    font-size: 25px;
    margin: 10px 50px;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    height: 50px;
    position: relative;
    bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* background-color: aquamarine; */
}

.nav_links {
    text-decoration: none;
    margin: 0px 25px;
    color: white;
}

.hero_pic {
    background-image: url(/imgs/theater-image-background.png);
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0px -150px;
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.hero_pic_txt {
    color: white;
    font-size: 150px;
    position: relative;
    bottom: 85px;
}

.main_ticket_body_cont {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 110px;
}

.int_body_cont {
    width: 60%;
    height: 1020px;
}

.hero_date {
    border: 1px solid grey;
    background-color: #F7F7F7;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hero_date_text {
    margin: 5px 50px;
    font-size: 30px;
}

.ticket_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    /* background-color: aquamarine; */
}

.ticket_pic {
    width: 250px;
    height: 160px;
    background-image: url(/imgs/a-raisin-in-the-sun-theater-1.png);
    background-repeat: no-repeat;
    margin: 30px 20px;

}

.info_cont {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    margin: 40px;
    /* background-color: #EBB625; */
}

.title_txt {
    font-size: 25px;
}

.button_cont {
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
}

.button_item {
    background-color: #EBB625;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
}

.button_link{
    text-decoration: none;
    color: white;
}

.footer_cont {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: "Roboto", sans-serif;
    height: 250px;
    position: relative;
    bottom: 75px;
    /* background-color: #EBB625; */
}

.map_item {
    background-image: url(/imgs/map.PNG);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: -90px 0px;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    background-color: aqua;
}

.title_footer {
    font-size: 30px;
}

.footer_txt{
    font-size: 15px;
}

.info_footer_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_icons {
    color: #EBB625;
}

.shows_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_links {
    text-decoration: none;
    color: white;
}